<h3>Сагс</h3>

<p>
    <a routerLink="/shipping">Хүргэлтийн үнэ</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <div>
        <label>Нэр: </label> {{user}}
    </div>
    <br>
    <div>
        <label>Хаяг: </label>
        <input type="text" formControlName="address">
    </div>

    <button class="btn btn-primary" type="submit">Захиалах</button>

</form>