<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul id="req" class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/list']">Нүүр хуудас</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/list']">Гар утас</a>
        </li>
        <li class="nav-item">
            <i class="fas fa-cloud"></i>
            <a class="nav-link" [routerLink]="['/list']">Компьютер</a>
        </li>
        <li class="nav-item">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <a class="nav-link" [routerLink]="['/cart']">Сагс</a>
        </li>
        <li class="nav-item" id="path">
            <a class="nav-link" [routerLink]="['/']">Гарах</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
            </div>
            </a>

        </li>
    </ul>
</nav>